<% provide(:title, 'Bookings') %>
<div id="content">
  <h1>Book Us</h1>
  <hr />
  <p>If you’d like to book The Ginger Armadillo at your office, church, bar,
  party, or event you can give us a call at (512) 815-2869. You can also fill
  out the form below. That form just gets sent to our email address, so if you
  hate forms you can just freestyle a request directly to
  info@thegingerarmadillo.com</p>
</div>
