<% provide(:title, 'Community') %>
<div id="content">
  <h1>The Ginger Armadillo</h1>
  <h2>a culinary community</h2>
  <hr />
	<p>
  We'll be rolling out this section of the website by the end of 2014. Among 
  other things, we'll have more information about our Community Cards and 
  <%= link_to('our monthly food giveaway', community_giveaway_path) %>, a place
  to preorder food for pickup, and a blog about the ongoing adventure that is 
  keeping Maggie, our food truck, up and running.<br/>
	For now, you can <a href="https://www.facebook.com/thegingerarmadillo" target="_blank">stay connected via facebook</a> with The Ginger Armadillo!
	</p>
	<hr />

  <p align="justify">We are more than just a food truck. The Ginger Armadillo 
  is our answer to the problems of the modern food industry.</p>

  <p align="justify">Do you know why 
  <a href="http://www.viamichelin.com/web/Restaurants">Michelin stars</a>
  —the international standard for gourmet excellence—are called “Michelin” 
  stars? Because they’re sponsored by the Michelin tire company. Yeah, that 
  Michelin. The one with a big anthropomorphic pile of tires for a mascot. In 
  1900, the Michelin brothers started publishing a guide to restaurants in 
  France. They sold those guides to their automobile-owning customers, who were 
  wealthy and had a taste for gourmet food. Those French aristocrats needed a 
  guide to restaurants because they were using their cars to travel to areas 
  where they didn’t know anyone.</p>

  <p align="justify">That tiny shift in dining culture—from eating at a local 
  restaurant to driving somewhere and eating food prepared by someone you don’t 
  know—was the first step in the alienation of people from their culinary 
  communities. The supermarket was invented in New York in 1915, dividing food 
  consumers from food producers. Over the course of the twentieth century 
  <a href="http://www.jstor.org/stable/1244236">agriculture became 
    industrialized and corporatized</a>. Today four companies own more than 80% 
  of all U.S. farms.</p>

  <p align="justify">Before the modern food industry, people got food from 
  other people. You went to the market and bought produce from the guy who grew 
  it. You ate at a restaurant run by people you knew. That is where local 
  cuisines came from. Not from the food network, not from celebrity chefs, not 
  from millionaire restaurateurs, not from some chain restaurant’s research 
  kitchen. It came from 
  <a href="http://www.worldcat.org/oclc/51296932">
    communities of people, eating together</a>. 
  Come be a part of our community.</p>

  <p align="justify">All of the <a href="http://vitalfarms.com/">chicken</a> 
  and <a href="https://www.jbgorganic.com/">produce</a> used by The Ginger 
  Armadillo is sourced locally. We make every one of our menu items entirely 
  from scratch, meaning no processed foods and no artificial preservatives. 
  We want to know you, and what you think about our food. Be sure to fill out 
  one of our community cards after you eat!</p>
</div>
