<% provide(:title, 'Contacts') %>
<div id="content">
  <h1>Contact Us</h1>
  <hr />
  <p>Do you have any questions for Chef Jen or Maggie? Shoot us an email at <%=
  mail_to 'info@thegingerarmadillo.com' %>.
  You can also call us at (512) 815-2869, which will probably take you to our
  voicemail. If you'd like to write us an old-timey letter, our mailing address
  is PO Box 49642, Austin, Texas 78765.</p>
</div>
