<% provide(:title, 'Contacts') %>
<div id="content">
  <h1>Contact Us</h1>
  <hr />
  <p>Do you have any questions for Chef Jen or Maggie? Shoot us an email at <%=
  mail_to 'info@thegingerarmadillo.com' %>.
  You can also call us at (512) 815-2869, which will probably take you to our
  voicemail. If you'd like to write us an old-timey letter, our mailing address
  is PO Box 49642, Austin, Texas 78765.</p>
  <p><em>(9/2/2014): We're moving the website to a new server over the next few
    weeks. Until then please note that we're having some problems with our email
    server. Emails you send to us will sometimes take awhile to arrive--anywhere
    from 5 minutes to several hours. Rest assured, we will eventually respond to
    your emails, but our normally legendary response time is going to be only
  heroic for the next few weeks.</em></p>
</div>
