<% provide(:title, 'Giveaway') %>
<% #TODO: change tags to meet html5 specs %>
<div id="content">
  <h1>Community Card Giveaway</h1>
  <h2>rules</h2>
  <hr />
  <p align="justify"><u>Prize:</u> 
  If you are selected as the winner of The Ginger
  Armadillo Community Card giveaway, you will receive free meals for the
  following month. These meals can include up to one combination meal plus one
  each of any extra or special items, or any subset thereof. The free meal can
  be redeemed only during normal dining hours, and only once per day. To find
  our location and hours, please 
  <%= link_to 'visit the relevant section of our website', locate_path %>.
  </p>
  <p align="justify"><u>Who can enter</u>: 
  Anyone can enter themselves into the giveaway.
  </p>
  <p align="justify"><u>Purchase</u>: 
  No purchase is required for entry into the contest.
  </p>
  <p align="justify"><u>Duration</u>: 
  Each Community Card giveaway lasts for one calendar month, and the prize
  period is for the following calendar month. E.g.: If you submit a valid
  Community Card for the month of May, and are selected as the winner, you will
  be entitled to the prize for the month of June. The giveaway is repeated each
  calendar month unless otherwise stated.
  </p>
  <p align="justify"><u>How to enter</u>: 
  Entry requires filling out a Community Card with a valid email address.
  Individual persons are not limited to single entries, and each Community Card
  increases the entrant's chances at winning. The Community Card should be
  placed in the Community Card box during normal operating hours.
  </p>
  <p align="justify"><u>How the winner is chosen</u>: 
  The winner is chosen by random selection of all submitted community cards for
  the previous month within the first seven days of the award month or before
  The Ginger Armadillo returns to the location the card was submitted, whichever
  comes first.  Important note: if Community Cards are completed in one month
  but placed in the box the following month, the entrant will be eligible for
  the month that the Community Card was entered into the box, not the previous
  month.
  </p>
  <p align="justify"><u>Winning over multiple months</u>: 
  A winner from a previous month cannot win the month following their prize
  month. E.g.: if you win the prize for the month of May, enter into the contest
  in the month of May, you are ineligible to win for the month of June. However,
  you become eligible again the following month.  In short, you cannot win
  consecutively.
  <p align="justify"><u>Sharing meals</u>:
  You are welcome to share the food you are awarded as a prize, but you will be
  limited to one meal per day as described above.
  </p>
  <p align="justify"><u>Notification</u>: 
  You will be notified of your winning the contest by the email you provide on
  your Community Card entry.
  </p>
  <p align="justify"><u>Claiming the prize</u>:
  To claim your prize, please respond via email to your award notification. We
  will need to take your picture the next time you come to The Ginger Armadillo
  so that we can ensure all employees are made aware of your status as prize
  winner for the following month.
  </p>
  <p align="justify"><u>Promotional materials</u>: 
  We would appreciate if you let us post your status as winner on our social
  media profiles and websites, but this will only be done with your permission,
  and can be removed at your request.
  </p>
</div>
