<% provide(:title, 'Location') %>
<div id="content">
  <h1>Find Us</h1>
  <hr />
  <p>Note (9/6/2014): The application we normally use to give you our current
  location seems to have broken. Over the next month we'll be building our own
  to replace it. In the meantime, you can see our current location by clicking
  on the event on the calendar below, which should have the full address
  listed.</p>

  <p>Schedule (click on an event to see its location)
  <%= render 'layouts/calendar' %>
  </p>
</div>
