<% provide(:title, 'Location') %>
<div id="content">
  <h1>Find Us</h1>
  <hr />
  <p><iframe src="http://app.truckily.com/embed/map/532dd553ab8a2545442a34fd" frameborder="0" border="0" style="border-style: none;width: 100%; height: 300px;" ></iframe></p>

  <p>Schedule (click on an event to see its location)
  <%= render 'layouts/calendar' %>
  </p>
</div>
