<% provide(:title, 'Menu') %>
<div id="content" class="menu">
  <h1>Summer</h1>
  <p style="text-align: center;">Menu for April-August, 2016</p>
  <hr />
  <p>**Besides making every item from scratch, as much of our protein as
  possible, and all of our fruits and vegetables are organic and local.**</p>
	<div class="menuRibbons">Entrées</div>
    <h2>brisket mac & cheese</h2>
    <p>tender smoked brisket w/ penne pasta, three cheese béchamel, & thyme
    buttered bread crumbs . . .  7.5</p>
    <h2>bbq pork kolache sandwich</h2>
    <p>North Carolina style BBQ pork shoulder w/ Tabasco slaw, cilantro lime
    pesto on a kolache bun w/ Granny Ila’s quick pickles & pickled
    jalapeños. .  . . 7.5</p>
    <h2>duck tacos</h2>
    <p>smoked duck w/ sweet potato hash, Tabasco slaw, smoked salsa verdé &amp;
    pickled jalapeños. . . . 7.5</p>
    <h2>first of summer enchilada gratin<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %></h2>
    <p>corn tortillas layered between fluffy rutabaga, sautéed rainbow chard,
    mozzarella & cheddar cheese w/ smoked tomato enchilada sauce (gluten free).
    . . .  7.5</p>

  <div class="menuRibbons">Sides</div>
    <h2>pickled mustard potato salad<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>poached yellow potatoes w/ garlic aioli, pickled mustard seed, celery
    & green onion (gluten free). . . .  2.5</p>
    <h2>green bean almandine<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>chilled green bean salad w/ sautéed mushrooms, toasted almonds, &amp;
    rice wine vinaigrette (gluten free). . . 2.5</p>
    <h2>Texas caviar</h2>
    <p>Texas creamer peas w/ bell pepper, jalapeno, &amp; chilled apple cider
    vinaigrette (gluten free). . . 2.5</p>

  <div class="menuRibbons">Combinations</div>
    <p>any entrée with a side and beverage . . . . . 8.5</p>

  <div class="menuRibbons">Drinks</div>
    <p>refreshing coke, diet coke, sprite, or bottled water . . . . . 1</p>

<% if false %>
  <hr/>
  <div class="menuRibbons">Brunch (only available at certain events)</div>
  <h2>Texas Breakfast</h2>
    <p>two buttermilk biscuits with all beef and beer, German style sausage, two
    fried eggs, and roasted tomato salsa . . . . . 7.5</p>
  <h2>Sweet & Spicy Hash</h2>
    <p>smoked shredded pork in an orange Sambal glaze with shredded potatoes,
    caramelized onions and peppers, one (local & free range) fried egg, and a
    buttermilk biscuit . . . . . 7.5</p>
  <h2>Maggie's French Toast <%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>two thick slices of battered & fried homemade bread with Texas grapefruit
    and strawberry syrup<br /> . . . . . 6.5</p>
  <div class="menuRibbons">À la carte brunch items</div>
    <p>local fried egg,<br/>
    biscuit with smoked chicken gravy,<br/>
    two Texas tortillas,<br/>
    chocolate chip scone,<br/>
    brown sugar muffin . . . . . 1 (each)</p>
<% end %>
</div>
