<% provide(:title, 'Menu') %>
<div id="content" class="menu">
  <h1>"Anniversary"</h1>
  <p style="text-align: center;">Menu for March, 2015</p>
  <hr />
  <p>**Besides making every item from scratch, as much of our protein as
  possible, and all of our fruits and vegetables are organic and local.**</p>
	<div class="menuRibbons">Entrées</div>
    <h2>Maggie's Anniversary Stew</h2>
    <p>smoked beef top round stewed in beef & Guinness broth w/ kale, sweet potato, carrots, onions, & celery root . . . . 7.5</p>
    <h2>smoked tomato lamb kolache</h2>
    <p><a href="http://www.twincountydorpers.com/">Twin County Lamb</a> burger
    stuffed inside a homemade kolache bun w/ smoked tomatoes, dandelion greens &
    Granny Ila’s pickles & jalapeños. . . . 7.5</p>
    <h2>jalapeño pesto bbq pork tacos</h2>
    <p>two smoked BBQ pulled pork tacos on flour tortillas w/ cilantro jalapeño
    pesto & Tabasco slaw. . .  7.5</p>
    <h2>first of spring enchilada gratin<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>corn tortillas layered between fluffy rutabaga, sautéed rainbow chard,
    mozzarella & cheddar cheese w/ smoked tomato enchilada sauce . . . .
    7.5</p>

  <div class="menuRibbons">Sides</div>
    <h2>herb potato salad<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>just like the first time - poached red potatoes w/ celery, green onion,
    & an herb mayo . . . .  2.5</p>
    <h2>spring slaw<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>carrot and cucumber ribbon slaw w/ Texas grapefruit pearls & spicy
    citrus vinaigrette. .  . . . 2.5</p>
    <h2>Texas chili</h2>
    <p>all local beef w/ award winning chili spice mix, smoked tomato,
    jalapeño, & chipotle – turn into a Frito pie w/ cheddar for no upcharge! .
    . . . 2.5</p>

  <div class="menuRibbons">Combinations</div>
    <p>any entrée with a side and beverage . . . . . 8.5</p>

  <div class="menuRibbons">Drinks</div>
    <p>refreshing coke, diet coke, sprite, or bottled water . . . . . 1</p>

<% if false %>
  <hr/>
  <div class="menuRibbons">Brunch (only available at certain events)</div>
  <h2>Texas Breakfast</h2>
    <p>two buttermilk biscuits with all beef and beer, German style sausage, two
    fried eggs, and roasted tomato salsa . . . . . 7.5</p>
  <h2>Sweet & Spicy Hash</h2>
    <p>smoked shredded pork in an orange Sambal glaze with shredded potatoes,
    caramelized onions and peppers, one (local & free range) fried egg, and a
    buttermilk biscuit . . . . . 7.5</p>
  <h2>Maggie's French Toast <%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>two thick slices of battered & fried homemade bread with Texas grapefruit
    and strawberry syrup<br /> . . . . . 6.5</p>
  <div class="menuRibbons">À la carte brunch items</div>
    <p>local fried egg,<br/>
    biscuit with smoked chicken gravy,<br/>
    two Texas tortillas,<br/>
    chocolate chip scone,<br/>
    brown sugar muffin . . . . . 1 (each)</p>
<% end %>
</div>
