<% provide(:title, 'Menu') %>
<div id="content" class="menu">
  <h1>"American Pork Belly"</h1>
  <p style="text-align: center;">Menu for July, 2015</p>
  <hr />
  <p>**Besides making every item from scratch, as much of our protein as
  possible, and all of our fruits and vegetables are organic and local.**</p>
	<div class="menuRibbons">Entrées</div>
    <h2>sloppy kolache</h2>
    <p>smoked & braised chopped brisket w/ chili spices, tomato, & green onion
    on a sweet bun w/ Granny Ila’s quick pickles & pickled jalapeños . . . .
    7.5</p>
    <h2>dijon chicken</h2>
    <p>thyme & roasted garlic smoked chicken breast or leg & thighs in a creamy
    dijon gravy sauce. .  . . 7.5</p>
    <h2>Lone Star blt</h2>
    <p>house smoked & thick sliced pork belly (B), crisp lettuce (L), slicer
    tomato (T) & basil aioli on a sweet bun w/ Granny Ila’s quick pickles &
    pickled jalapeños. . . . . 7.5</p>
    <h2>mushroom tamales<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>four fluffy, house made mushroom tamales w/ smoked tomato ranchero sauce. . . .
    7.5</p>

  <div class="menuRibbons">Sides</div>
    <h2>independence potato salad<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>red & blue Peruvian poached potatoes w/ diced celery, red onion, & house
    made mayonnaise . . . .  2.5</p>
    <h2>summer bacon spinach slaw</h2>
    <p>tender julienne spinach, pickled red onion, & toasted pumpkin seeds w/
    warm house smoked bacon vinaigrette. . . 2.5</p>
    <h2>refried chickpeas<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>back by popular demand - roasted garlic oil re-fried chickpeas w/
    toasted cumin seed .  . . . 2.5</p>

  <div class="menuRibbons">Combinations</div>
    <p>any entrée with a side and beverage . . . . . 8.5</p>

  <div class="menuRibbons">Drinks</div>
    <p>refreshing coke, diet coke, sprite, or bottled water . . . . . 1</p>

<% if false %>
  <hr/>
  <div class="menuRibbons">Brunch (only available at certain events)</div>
  <h2>Texas Breakfast</h2>
    <p>two buttermilk biscuits with all beef and beer, German style sausage, two
    fried eggs, and roasted tomato salsa . . . . . 7.5</p>
  <h2>Sweet & Spicy Hash</h2>
    <p>smoked shredded pork in an orange Sambal glaze with shredded potatoes,
    caramelized onions and peppers, one (local & free range) fried egg, and a
    buttermilk biscuit . . . . . 7.5</p>
  <h2>Maggie's French Toast <%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>two thick slices of battered & fried homemade bread with Texas grapefruit
    and strawberry syrup<br /> . . . . . 6.5</p>
  <div class="menuRibbons">À la carte brunch items</div>
    <p>local fried egg,<br/>
    biscuit with smoked chicken gravy,<br/>
    two Texas tortillas,<br/>
    chocolate chip scone,<br/>
    brown sugar muffin . . . . . 1 (each)</p>
<% end %>
</div>
