<div id="footer">
  <div id="social">
    <%= link_to(image_tag("social-fb.png", alt: "facebook icon"), 
                'https://www.facebook.com/thegingerarmadillo') %>
    <%= link_to(image_tag("social-gp.png", alt: "google plus icon"), 
                'https://plus.google.com/117330515087747917166/posts') %>
    <%= link_to(image_tag("social-tw.png", alt: "google plus icon"), 
                'https://twitter.com/thegingerdillo') %>
    <%= link_to(image_tag("social-pi.png", alt: "pinterest icon"), 
                'http://www.pinterest.com/gingerarmadillo/') %>
    </div>
    <div class="hr2"></div>
    <div id="nav2">
      <ul>
        <li><a href="/ourstory">OUR STORY</a></li>
        <li><a href="/menu">MENU</a></li>
        <li><a href="/community">COMMUNITY</a></li>
        <li><a href="/findus">FIND US</a></li>
        <li><a href="/bookus">BOOK US</a></li>
        <li><a href="/contactus">CONTACT US</a></li>
      </ul>
  </div>
</div>
